{%extends "base.html"%} {%block Body%} {%for activity in data%}
<a href="/reset" class="btn btn-error">Log out</a>
<div class="card">
  <div class="card-header bg-primary">
    <div class="card-title text-center">
      <h2>{{activity.name}}</h2>
    </div>
  </div>
  <div style="display: inline;">
    <div id="map" style="width:1280px;height:720px"></div>
    <script>
      let tmp = Object({{ activity| tojson }});
      mapboxgl.accessToken = {{ mapboxtoken }};
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [4.380068778991699, 50.85095984723529],
        zoom: 8
      });
      map.on('load', () => {
        map.addSource('route', {
          'type': 'geojson',
          'data': {
            'type': 'Feature',
            'properties': {},
            'geometry': {
              'type': 'LineString',
              'coordinates': tmp.map.summary_polyline_array
            }
          }
        });

        map.addLayer({
          'id': 'route',
          'type': 'line',
          'source': 'route',
          'layout': {
            'line-join': 'round',
            'line-cap': 'round'
          },
          'paint': {
            'line-color': '#ff0000',
            'line-width': 2
          }
        });
      });
    </script>
    <div class="card-body text-center" style="width: 20%;">
      <p>Started at {{activity.start_date}}</p>
      <p>Activity took {{activity.elapsed_time}} seconds</p>
      <p>Coordinates: {{activity.map.summary_polyline}}</p>
    </div>
  </div>
</div>

{%endfor%} {%endblock%}